<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Random</title> 
</head>
<body>
    <p th:text="${num}" />
</body>
</html>